.venv/

__pycache__/

src/calibration/Chessboards/*
src/calibration/Chessboards_Corners/*
src/calibration/undistorted/*
src/calibration/distort.jpg
src/calibration/undistorted.jpg

src/frontend/__pycache__
src/frontend/logs/frontend_log.txt


src/telnet/__pycache__
src/telnet/logs/*

src/tracking_custom_config_test.py
data/*